<h1>Write a new article:</h1>
<form method="post" action="/articles">
    <h3>Title: </h3><input type="text" name="title" id="title"/>
    <h3>Content: </h3><input type="text" name="content" id="content"/>
    <input type="submit" />
</form>